FIREBASE_CREDENTIALS=
FIREBASE_DATABASE_URL=https://id-project-b4d10-default-rtdb.asia-southeast1.firebasedatabase.app/
FIREBASE_PROJECT_ID=id-project-b4d10
FIREBASE_WEB_API_KEY=AIzaSyAltzaCaE4QI8FWW0m9ZCW8mPdUer3QVCk
FIREBASE_AUTH_DOMAIN=id-project-b4d10.firebaseapp.com
FIREBASE_STORAGE_BUCKET=id-project-b4d10.firebasestorage.app
FIREBASE_MESSAGING_SENDER_ID=746324711798
FIREBASE_APP_ID=1:746324711798:web:d43fd7e8947b12a3b9c257
FIREBASE_MEASUREMENT_ID=G-BLYS0TDJT3
